@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Antonio;
  src: url("../font/Antonio-Regular.ttf");
}

@font-face {
  font-family: Spartan;
  src: url("../font/LeagueSpartan-Regular.ttf");
}

@layer base {
  html {
    @apply h-screen;
  }
  body {
    @apply bg-BlackPearl bg-[url('../img/background-stars.svg')] bg-cover text-white;
  }
}

@layer components {
  .navbar_list {
    @apply text-xs font-bold text-white;
  }
  .navbar_list_mobile {
    @apply font-Spartan text-base font-bold tracking-widest text-white;
  }
  .list_mobile_container {
    @apply flex flex-row justify-between py-2;
  }
  .details_box {
    @apply mb-2 flex w-[327px] flex-row items-center justify-between border-[1px] border-solid border-white px-5 py-4 text-left md:mx-2 md:w-[165px] md:flex-col md:items-start lg:mx-4 lg:w-[255px] lg:py-6;
  }
  .details_box_heading {
    @apply font-Spartan text-[8px] font-bold uppercase tracking-widest text-white text-opacity-50 lg:text-sm;
  }
  .details_box_text {
    @apply font-Antonio text-xl uppercase lg:text-4xl;
  }
  .button_view {
    @apply mb-3 border-[1px] border-solid border-white pl-5 text-left font-Spartan text-[9px] uppercase tracking-widest hover:border-BrightGray hover:bg-BrightGray md:h-[40px] md:w-[280px] lg:w-[350px];
  }
  .button_view_mobile {
    @apply border-b-4 border-solid border-BlackPearl pb-4 pt-5 font-Spartan text-xs font-bold uppercase tracking-widest text-white;
  }
  .mercury {
    @apply border-b-Pelorous lg:border-none lg:bg-Pelorous;
  }
  .venus {
    @apply border-b-TulipTree lg:border-none lg:bg-TulipTree;
  }
  .earth {
    @apply border-b-PurpleHeart lg:border-none lg:bg-PurpleHeart;
  }
  .mars {
    @apply border-b-Valencia lg:border-none lg:bg-Valencia;
  }
  .jupiter {
    @apply border-b-ElectricValencia lg:border-none lg:bg-ElectricValencia;
  }
  .saturn {
    @apply border-b-Piper lg:border-none lg:bg-Piper;
  }
  .uranus {
    @apply border-b-Java lg:border-none lg:bg-Java;
  }
  .neptune {
    @apply border-b-RoyalBlue lg:border-none lg:bg-RoyalBlue;
  }
}
